{
	debug
	admin localhost:2019
	log default {
		output stdout
		format console
		include http.log.access admin.api
	}
	servers {
		metrics
	}
}

# cors import
(cors) {
	@cors_preflight {
		method OPTIONS
		header Origin *
		header Access-Control-Request-Method *
	}

	@cors {
		header Origin *
	}

	handle @cors_preflight {
		header Access-Control-Allow-Origin "{args.0}"
		header Access-Control-Allow-Methods "{args.1}" {
			GET, POST, PUT, DELETE, OPTIONS
		}
		header Access-Control-Allow-Headers "Content-Type"
		header Access-Control-Allow-Credentials true
		respond 204
	}

	handle @cors {
		header Access-Control-Allow-Origin "{args.0}"
		header Access-Control-Allow-Methods "{args.1}" {
			GET, POST, PUT, DELETE, OPTIONS
		}
		header Access-Control-Allow-Headers "Content-Type"
		header Access-Control-Allow-Credentials true
	}
}

# admin-ui host
# {$ADMIN_UI_URL} {
# 	# @blocked not remote_ip 178.23.120.12
# 	# respond @blocked "<h1>Access Denied</h1>" 403
# 	route {
# 		reverse_proxy localhost:2019 {
# 			header_up Host localhost:2019
# 		}
# 	}
# }
